body, html{
	padding: 0;
	margin: 0;
	border: 0;
	background: transparent;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.screen{
	width: 100%;
	height: 100%;
}

.line {
	stroke: blue;
	stroke-width: 1;
	fill: none;
}